@page
@model VetsApp.Pages.Index1Model
@{
}
<div class="container" id="info">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card" id="staffCard1" style="max-width: 70%;">
                    <div class="row g-0">
                        <div class="col-md-4 col-centered">
                            <img src="/imgs/staff1.jpg" id="staffImg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body" id="staffBio" style="height:100%;">
                                <div class="card-text">
                                    <h5 class="card-title">Dr Barry</h5>
                                    <p class="card-text">Dr Barry is a vet, a good vet. Does all the vet things, animals like Dr Barry</p>
                                    <p class="card-text">Dr Barry enjoys soft jazz and sinking pints with the lads.</p>
                                </div>
                                <br />
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="/imgs/staffPet1.jpg" class="img-fluid rounded-end" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Reginald</h5>
                                                <p class="card-text">Reginald is a good boy</p>
                                                <p class="card-text"><small class="text-muted">Reginald eats Dr Barrys shoes and likes to play fetch.</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" id="staffCard1" style="max-width: 70%;">
                    <div class="row g-0">
                        <div class="col-md-4 col-centered">
                            <img src="/imgs/staff3.jpg" id="staffImg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body" id="staffBio" style="height:100%;">
                                <div class="card-text">
                                    <h5 class="card-title">Dr Daisy</h5>
                                    <br />
                                    <p class="card-text">Dr Daisy knows so much about being a vet, does a super duper job.</p>
                                    <p class="card-text">Dr Daisy makes animals feel way better.</p>
                                </div>
                                <br />
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="/imgs/staffPet2.jpg" class="img-fluid rounded-end" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Sir Barkalot</h5>
                                                <p class="card-text">Sir Barkalot is oxymoronicle, a real good boy</p>
                                                <p class="card-text"><small class="text-muted">Sir Barkalot is a great napper.</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" id="staffCard1" style="max-width: 70%;">
                    <div class="row g-0">
                        <div class="col-md-4 col-centered">
                            <img src="/imgs/staff2.jpg" id="staffImg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body" id="staffBio" style="height:70%;">
                                <div class="card-text">
                                    <h5 class="card-title">Vet Nurse Randy</h5>
                                    <br />
                                    <p class="card-text">Vet Nurse Randy is the most handy. Helps them vet doctors right out.</p>
                                    <p class="card-text">Vet Nurse Randy is a bit randy.</p>
                                </div>
                                <br />
                                <div class="card mb-3" style="max-width: 500px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="/imgs/staffPet3.jpg" class="img-fluid rounded-end" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Dog</h5>
                                                <p class="card-text">Dog is the best boy, has really nailed being a dog.</p>
                                                <p class="card-text"><small class="text-muted">Sir Barkalot is a great napper.</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
       @* <div class="card" id="staffCard1" style="max-width: 70%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/imgs/staff1.jpg" id="staffImg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body" id="staffBio" style="height:100%;">
                        <div class="card-text">
                            <h5 class="card-title">Dr Barry</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <div class="card-link">
                            <button type="button" class="btn btn-primary">Primary</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    <div class="card" id="staffCard1" style="max-width: 70%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/imgs/staff1.jpg" id="staffImg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body" id="staffBio" style="height:100%;">
                    <div class="card-text">
                        <h5 class="card-title">Dr Barry</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-link">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card" id="staffCard1" style="max-width: 70%;">

        <div class="row g-0">
            <div class="col-md-4">
                <img src="/imgs/staff1.jpg" id="staffImg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body" id="staffBio" style="height:100%;">
                    <div class="card-text">
                        <h5 class="card-title">Dr Barry</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-link">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>

            </div>
        </div>
    </div>*@
</div>

