@page
@model VetsApp.Pages.LocationModel
@{
}
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card" style="max-width: 70%;">
                    <div class="row g-0">
                        <div class="col-md-4 col-centered">
                            <img src="/imgs/services1.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body" style="height:100%;">
                                <div class="card-text">
                                    <h1 class="card-title">Surgical vet stuff</h1>
                                    <br />
                                    <p class="card-text">We jam your pet full on drugs and fix em up</p>
                                    <p class="card-text">From broken bones to swallowed chew tows</p>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="max-width: 70%;">
                    <div class="row g-0">
                        <div class="col-md-4 col-centered">
                            <img src="/imgs/services2.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7 col-centered">
                            <div class="card-body" style="height:100%;">
                                <div class="card-text">
                                    <h1 class="card-title">X-rays</h1>
                                    <br />
                                    <p class="card-text">We use X-rays to see the inside of your pet</p>
                                    <p class="card-text">Beep boop bop</p>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" id="services1" style="max-width: 70%;">
                    <div class="row g-0">
                        <div class="col-md-4 col-centered">
                            <img src="/imgs/services3.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7 col-centered">
                            <div class="card-body" style="height:100%;">
                                <div class="card-text">
                                    <h1 class="card-title">Grooming</h1>
                                    <br />
                                    <p class="card-text">We give your pet the flyest doo</p>
                                    <p class="card-text">People will say, wow, look at that dogs sick doo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>